## Loading Library

In [1]:
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from pandas.errors import SettingWithCopyWarning

warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
# Ignore FutureWarning
warnings.simplefilter(action='ignore', category=FutureWarning)

## Importing Book Data

In [2]:
data = pd.read_csv("D://MBA//SEM 4//Capstone Project & Viva Voce//Dataset//Amazon Book Reviews//books_data.csv//books_data.csv")
data.head()

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],NaN
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,NaN

## Data Exploration

In [3]:
data.shape

(212404, 10)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          212403 non-null  object
 1   description    143962 non-null  object
 2   authors        180991 non-null  object
 3   image          160329 non-null  object
 4   previewLink    188568 non-null  object
 5   publisher      136518 non-null  object
 6   publishedDate  187099 non-null  object
 7   infoLink       188568 non-null  object
 8   categories     171205 non-null  object
 9   ratingsCount   49752 non-null   float64
dtypes: float64(1), object(9)
memory usage: 16.2+ MB

# Data Types

In [5]:
print(data.select_dtypes(include=['category', 'float64']))

        ratingsCount
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
212399           2.0
212400           NaN
212401           NaN
212402          19.0
212403           NaN

[212404 rows x 1 columns]

In [6]:
print(data.select_dtypes(include=['category', 'object']))

                                                    Title  \
0                          Its Only Art If Its Well Hung!
1                                Dr. Seuss: American Icon
2                   Wonderful Worship in Smaller Churches
3                           Whispers of the Wicked Saints
4       Nation Dance: Religion, Identity and Cultural ...
...                                                   ...
212399  The Orphan Of Ellis Island (Time Travel Advent...
212400                            Red Boots for Christmas
212401                                              Mamaw
212402                                  The Autograph Man
212403  Student's Solutions Manual for Johnson/Mowry's...

                                              description  \
0                                                     NaN
1       Philip Nel takes a fascinating look into the k...
2       This resource includes twelve principles in un...
3       Julia Thomas finds her life spinning out of co...
4                                                     NaN
...                                                   ...
212399  During a school trip to Ellis Island, Dominick...
212400  Everyone in the village of Friedensdorf is hap...
212401  Give your Mamaw a useful, beautiful and though...
212402  Alex-Li Tandem sells autographs. His business ...
212403  Discover the many ways mathematics is relevant...

                                        authors  \
0                              ['Julie Strain']
1                                ['Philip Nel']
2                              ['David R. Ray']
3                           ['Veronica Haddon']
4                               ['Edward Long']
...                                         ...
212399                      ['Elvira Woodruff']
212400                                      NaN
212401                    ['Wild Wild Cabbage']
212402                          ['Zadie Smith']
212403  ['David B. Johnson', 'Thomas A. Mowry']

                                                    image  \
0       http://books.google.com/books/content?id=DykPA...
1       http://books.google.com/books/content?id=IjvHQ...
2       http://books.google.com/books/content?id=2tsDA...
3       http://books.google.com/books/content?id=aRSIg...
4                                                     NaN
...                                                   ...
212399  http://books.google.com/books/content?id=J7M-N...
212400  http://books.google.com/books/content?id=3n8k6...
212401                                                NaN
212402  http://books.google.com/books/content?id=JM6YV...
212403  http://books.google.com/books/content?id=dehfP...

                                              previewLink  \
0       http://books.google.nl/books?id=DykPAAAACAAJ&d...
1       http://books.google.nl/books?id=IjvHQsCn_pgC&p...
2       http://books.google.nl/books?id=2tsDAAAACAAJ&d...
3       http://books.google.nl/books?id=aRSIgJlq6JwC&d...
4       http://books.google.nl/books?id=399SPgAACAAJ&d...
...                                                   ...
212399  http://books.google.com/books?id=J7M-NwAACAAJ&...
212400  http://books.google.com/books?id=3n8k6wl4BbYC&...
212401  http://books.google.com/books?id=zytVswEACAAJ&...
212402  http://books.google.com/books?id=JM6YVPx_clMC&...
212403  http://books.google.com/books?id=dehfPgAACAAJ&...

                             publisher publishedDate  \
0                                  NaN          1996
1                            A&C Black    2005-01-01
2                                  NaN          2000
3                            iUniverse       2005-02
4                                  NaN    2003-03-01
...                                ...           ...
212399           Scholastic Paperbacks    2000-06-01
212400                             NaN          1995
212401                             NaN    2018-01-17
212402                         Vintage    2003-08-12
212403  Brooks/Cole Publishing Company    1998-01-01

                                                 infoLink  \
0       http://books.google.nl/books?id=DykPAAAACAAJ&d...
1       http://books.google.nl/books?id=IjvHQsCn_pgC&d...
2       http://books.google.nl/books?id=2tsDAAAACAAJ&d...
3       http://books.google.nl/books?id=aRSIgJlq6JwC&d...
4       http://books.google.nl/books?id=399SPgAACAAJ&d...
...                                                   ...
212399  http://books.google.com/books?id=J7M-NwAACAAJ&...
212400  http://books.google.com/books?id=3n8k6wl4BbYC&...
212401  http://books.google.com/books?id=zytVswEACAAJ&...
212402  https://play.google.com/store/books/details?id...
212403  http://books.google.com/books?id=dehfPgAACAAJ&...

                           categories
0         ['Comics & Graphic Novels']
1       ['Biography & Autobiography']
2                        ['Religion']
3                         ['Fiction']
4                                 NaN
...                               ...
212399           ['Juvenile Fiction']
212400           ['Juvenile Fiction']
212401                            NaN
212402                    ['Fiction']
212403                            NaN

[212404 rows x 9 columns]

## Continuous variable

In [7]:
# Viewing continuous variable
continuous_vars = data.select_dtypes(include=[np.number])
continuous_vars

        ratingsCount
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
212399           2.0
212400           NaN
212401           NaN
212402          19.0
212403           NaN

[212404 rows x 1 columns]

##Categorical Variable

In [8]:
# Viewing categorical variable
categorical_vars = data.select_dtypes(include=['object'])
categorical_vars

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels']
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography']
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion']
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction']
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN
...,...,...,...,...,...,...,...,...,...
212399,The Orphan Of Ellis Island (Time Travel Advent...,"During a school trip to Ellis Island, Dominick...",['Elvira Woodruff'],http://books.google.com/books/content?id=J7M-N...,http://books.google.com/books?id=J7M-NwAACAAJ&...,Scholastic Paperbacks,2000-06-01,http://books.google.com/books?id=J7M-NwAACAAJ&...,['Juvenile Fiction']
212400,Red Boots for Christmas,Everyone in the village of Friedensdorf is hap...,NaN,http://books.google.com/books/content?id=3n8k6...,http://books.google.com/books?id=3n8k6wl4BbYC&...,NaN,1995,http://books.google.com/books?id=3n8k6wl4BbYC&...,['Juvenile Fiction']
212401,Mamaw,"Give your Mamaw a useful, beautiful and though...",['Wild Wild Cabbage'],NaN,http://books.google.com/books?id=zytVswEACAAJ&...,NaN,2018-01-17,http://books.google.com/books?id=zytVswEACAAJ&...,NaN
212402,The Autograph Man,Alex-Li Tandem sells autographs. His business ...,['Zadie Smith'],http://books.google.com/books/content?id=JM6YV...,http://books.google.com/books?id=JM6YVPx_clMC&...,Vintage,2003-08-12,https://play.google.com/store/books/details?id...,['Fiction']
212403,Student's Solutions Manual for Johnson/Mowry's...,Discover the many ways mathematics is relevant...,"['David B. Johnson', 'Thomas A. Mowry']",http://books.google.com/books/content?id=dehfP...,http://books.google.com/books?id=dehfPgAACAAJ&...,Brooks/Cole Publishing Company,1998-01-01,http://books.google.com/books?id=dehfPgAACAAJ&...,NaN

## Viewing measures

In [9]:
pd.set_option('display.float_format', '{:f}'.format)

In [10]:
data.describe()

       ratingsCount
count  49752.000000
mean      21.252975
std      201.340431
min        1.000000
25%        1.000000
50%        2.000000
75%        5.000000
max     4895.000000

## Check for Missing Values

In [11]:
data.isnull().sum()

Title                 1
description       68442
authors           31413
image             52075
previewLink       23836
publisher         75886
publishedDate     25305
infoLink          23836
categories        41199
ratingsCount     162652
dtype: int64

## Data Reduction

In [12]:
data_new =data[['Title','authors','categories','ratingsCount']]
data_new.shape

(212404, 4)

# Handling Missing Values

In [13]:
data_new.isnull().sum()

Title                1
authors          31413
categories       41199
ratingsCount    162652
dtype: int64

In [14]:
data_new.dropna(subset=['Title'], inplace=True)
data_new.dropna(subset=['authors'], inplace=True)
data_new.dropna(subset=['categories'], inplace=True)
data_new.dropna(subset=['ratingsCount'], inplace=True)
data_new.isnull().sum()

Title           0
authors         0
categories      0
ratingsCount    0
dtype: int64

In [15]:
data_new.shape

(47269, 4)

# Books_rating

## Importing Book Data

In [16]:
rating = pd.read_csv("D://MBA//SEM 4//Capstone Project & Viva Voce//Dataset//Amazon Book Reviews//Books_rating.csv//Books_rating.csv")
rating.head()

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.000000,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.000000,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.000000,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.000000,1090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.000000,1107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

## Data Exploration

In [17]:
rating.shape

(3000000, 10)

In [18]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   Id                  object
 1   Title               object
 2   Price               float64
 3   User_id             object
 4   profileName         object
 5   review/helpfulness  object
 6   review/score        float64
 7   review/time         int64
 8   review/summary      object
 9   review/text         object
dtypes: float64(2), int64(1), object(7)
memory usage: 228.9+ MB

In [19]:
print(rating.select_dtypes(include=['category', 'float64']))

         Price  review/score
0          NaN      4.000000
1          NaN      5.000000
2          NaN      5.000000
3          NaN      4.000000
4          NaN      4.000000
...        ...           ...
2999995    NaN      4.000000
2999996    NaN      4.000000
2999997    NaN      4.000000
2999998    NaN      5.000000
2999999    NaN      1.000000

[3000000 rows x 2 columns]

In [20]:
print(rating.select_dtypes(include=['category', 'int64']))

         review/time
0          940636800
1         1095724800
2         1078790400
3         1090713600
4         1107993600
...              ...
2999995    937612800
2999996   1331683200
2999997   1180224000
2999998   1163030400
2999999    905385600

[3000000 rows x 1 columns]

In [21]:
print(rating.select_dtypes(include=['category', 'object']))

                 Id                           Title         User_id  \
0        1882931173  Its Only Art If Its Well Hung!   AVCGYZL8FQQTD
1        0826414346        Dr. Seuss: American Icon  A30TK6U7DNS82R
2        0826414346        Dr. Seuss: American Icon  A3UH4UZ4RSVO82
3        0826414346        Dr. Seuss: American Icon  A2MVUWT453QH61
4        0826414346        Dr. Seuss: American Icon  A22X4XUPKF66MR
...             ...                             ...             ...
2999995  B000NSLVCU             The Idea of History             NaN
2999996  B000NSLVCU             The Idea of History  A1SMUB9ASL5L9Y
2999997  B000NSLVCU             The Idea of History  A2AQMEKZKK5EE4
2999998  B000NSLVCU             The Idea of History  A18SQGYBKS852K
2999999  B000NSLVCU             The Idea of History             NaN

                                profileName review/helpfulness  \
0                     Jim of Oz "jim-of-oz"                7/7
1                             Kevin Killian              10/10
2                              John Granger              10/11
3        Roy E. Perry "amateur philosopher"                7/7
4           D. H. Richards "ninthwavestore"                3/3
...                                     ...                ...
2999995                                 NaN              14/19
2999996                             jafrank                1/1
2999997           L. L. Poulos "Muslim Mom"                0/0
2999998       Julia A. Klein "knitting rat"               1/11
2999999                                 NaN               7/49

                                            review/summary  \
0                   Nice collection of Julie Strain images
1                                        Really Enjoyed It
2          Essential for every personal and Public Library
3          Phlip Nel gives silly Seuss a serious treatment
4                                   Good academic overview
...                                                    ...
2999995                                          Difficult
2999996      Quite good and ahead of its time occasionally
2999997  Easier reads of those not well versed in histo...
2999998   Yes, it is cheaper than the University Bookstore
2999999  Collingwood's ideas sink in a quagmire or verb...

                                               review/text
0        This is only for Julie Strain fans. It's a col...
1        I don't care much for Dr. Seuss but after read...
2        If people become the books they read and if "t...
3        Theodore Seuss Geisel (1904-1991), aka &quot;D...
4        Philip Nel - Dr. Seuss: American IconThis is b...
...                                                    ...
2999995  This is an extremely difficult book to digest,...
2999996  This is pretty interesting. Collingwood seems ...
2999997  This is a good book but very esoteric. "What i...
2999998  My daughter, a freshman at Indiana University,...
2999999  The guy has a few good ideas but, reader, bewa...

[3000000 rows x 7 columns]

## Viewing measures

In [22]:
rating.describe()

              Price   review/score       review/time
count 481171.000000 3000000.000000    3000000.000000
mean      21.762656       4.215289 1132306772.630393
std       26.206541       1.203054  149320187.528304
min        1.000000       1.000000         -1.000000
25%       10.780000       4.000000  999907200.000000
50%       14.930000       5.000000 1128297600.000000
75%       23.950000       5.000000 1269129600.000000
max      995.000000       5.000000 1362355200.000000

## Check for Missing Values

In [23]:
rating.isnull().sum()

Id                          0
Title                     208
Price                 2518829
User_id                561787
profileName            561905
review/helpfulness          0
review/score                0
review/time                 0
review/summary            407
review/text                 8
dtype: int64

# Data Cleaning

In [24]:
rating_new =rating[['Id','Title','User_id','review/helpfulness','review/score','review/text']]
rating_new.shape

(3000000, 6)

## Handling Missing Values

In [25]:
rating_new.isnull().sum()

Id                         0
Title                    208
User_id               561787
review/helpfulness         0
review/score               0
review/text                8
dtype: int64

In [26]:
rating_new.dropna(subset=['Title'], inplace=True)
rating_new.dropna(subset=['review/text'], inplace=True)
rating_new.dropna(subset=['User_id'], inplace=True)
rating_new.isnull().sum()

Id                    0
Title                 0
User_id               0
review/helpfulness    0
review/score          0
review/text           0
dtype: int64

In [27]:
rating_new.shape

(2438017, 6)

## Data Blending

In [28]:
df = pd.merge(data_new, rating_new, on='Title', how='inner')
df.head()

,Title,authors,categories,ratingsCount,Id,User_id,review/helpfulness,review/score,review/text
0,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],['Religion'],5.000000,0802841899,ARI272XF8TOL4,74/81,5.000000,With the publication of Everett Ferguson's boo...
1,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],['Religion'],5.000000,0802841899,A36TPZSH8LBT1,2/3,5.000000,Everett Ferguson approaches the subject of ear...
2,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],['Religion'],5.000000,0802841899,ANX3DDV12ZRRU,2/3,4.000000,This book is a continual resource. It is so bi...
3,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],['Religion'],5.000000,0802841899,A2H2LORTA5EZY2,3/5,4.000000,This is a very useful and thorough text book. ...
4,Voices from the Farm: Adventures in Community ...,['Rupert Fike'],['Biography & Autobiography'],1.000000,157067051X,A3W1KIKQ93S62,21/21,5.000000,"Ironically, I grew up in a small town close to..."

In [29]:
df = df[['Id','Title','authors','categories','ratingsCount','User_id','review/helpfulness','review/score','review/text']]
df.head()

,Id,Title,authors,categories,ratingsCount,User_id,review/helpfulness,review/score,review/text
0,0802841899,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],['Religion'],5.000000,ARI272XF8TOL4,74/81,5.000000,With the publication of Everett Ferguson's boo...
1,0802841899,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],['Religion'],5.000000,A36TPZSH8LBT1,2/3,5.000000,Everett Ferguson approaches the subject of ear...
2,0802841899,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],['Religion'],5.000000,ANX3DDV12ZRRU,2/3,4.000000,This book is a continual resource. It is so bi...
3,0802841899,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],['Religion'],5.000000,A2H2LORTA5EZY2,3/5,4.000000,This is a very useful and thorough text book. ...
4,157067051X,Voices from the Farm: Adventures in Community ...,['Rupert Fike'],['Biography & Autobiography'],1.000000,A3W1KIKQ93S62,21/21,5.000000,"Ironically, I grew up in a small town close to..."

In [30]:
df.shape

(1244291, 9)

In [31]:
df.isnull().sum()

Id                    0
Title                 0
authors               0
categories            0
ratingsCount          0
User_id               0
review/helpfulness    0
review/score          0
review/text           0
dtype: int64

## Viewing Duplicated values

In [32]:
duplicates = df.duplicated()

# Filter the dataframe for duplicates
df_duplicates = df[duplicates]

In [51]:
df_duplicates.head()

,Id,Title,authors,categories,ratingsCount,User_id,review/helpfulness,review/score,review/text
4458,B000KEPC7M,Helter Skelter,"['Vincent Bugliosi', 'Curt Gentry']",['True Crime'],80.000000,A2I1BZGK92F7JY,0/0,5.000000,"I read this book 25 years ago and, upon readin..."
4964,B000PDFO2Q,Small Gods,['Terry Pratchett'],['Fiction'],85.000000,A13OFOB1394G31,0/0,5.000000,The Great God Om wakes up in tortoise-form jus...
5816,0812924835,No Disrespect,['Sister Souljah'],['Biography & Autobiography'],8.000000,A3HS2OKGPDYZPB,11/15,5.000000,Sister Souljah is awesome!!! I strongly advise...
6629,B000GRQ33K,The Clan of the Cave Bear,['Jean M. Auel'],['American fiction'],145.000000,AX6WWTSHXZ6S4,0/0,5.000000,I have enjoyed reading this book and the entir...
6706,B000GRQ33K,The Clan of the Cave Bear,['Jean M. Auel'],['American fiction'],145.000000,A15NHNGZNMGM8S,0/0,5.000000,I read this book 20 years ago and was eager to...

## Removing duplicates

In [34]:
df.drop_duplicates(inplace=True)
df.head()

,Id,Title,authors,categories,ratingsCount,User_id,review/helpfulness,review/score,review/text
0,0802841899,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],['Religion'],5.000000,ARI272XF8TOL4,74/81,5.000000,With the publication of Everett Ferguson's boo...
1,0802841899,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],['Religion'],5.000000,A36TPZSH8LBT1,2/3,5.000000,Everett Ferguson approaches the subject of ear...
2,0802841899,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],['Religion'],5.000000,ANX3DDV12ZRRU,2/3,4.000000,This book is a continual resource. It is so bi...
3,0802841899,The Church of Christ: A Biblical Ecclesiology ...,['Everett Ferguson'],['Religion'],5.000000,A2H2LORTA5EZY2,3/5,4.000000,This is a very useful and thorough text book. ...
4,157067051X,Voices from the Farm: Adventures in Community ...,['Rupert Fike'],['Biography & Autobiography'],1.000000,A3W1KIKQ93S62,21/21,5.000000,"Ironically, I grew up in a small town close to..."

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1240299 entries, 0 to 1244290
Data columns (total 9 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Id                  1240299 non-null  object
 1   Title               1240299 non-null  object
 2   authors             1240299 non-null  object
 3   categories          1240299 non-null  object
 4   ratingsCount        1240299 non-null  float64
 5   User_id             1240299 non-null  object
 6   review/helpfulness  1240299 non-null  object
 7   review/score        1240299 non-null  float64
 8   review/text         1240299 non-null  object
dtypes: float64(2), object(7)
memory usage: 94.6+ MB

In [36]:
df.shape

(1240299, 9)

In [37]:
df.isnull().sum()

Id                    0
Title                 0
authors               0
categories            0
ratingsCount          0
User_id               0
review/helpfulness    0
review/score          0
review/text           0
dtype: int64

In [38]:
df.describe()

        ratingsCount   review/score
count 1240299.000000 1240299.000000
mean      265.381027       4.219235
std       789.324478       1.182009
min         1.000000       1.000000
25%         3.000000       4.000000
50%        10.000000       5.000000
75%        50.000000       5.000000
max      4895.000000       5.000000

In [39]:
df.isnull().sum()

Id                    0
Title                 0
authors               0
categories            0
ratingsCount          0
User_id               0
review/helpfulness    0
review/score          0
review/text           0
dtype: int64

## Removing brackets & punctuations

In [40]:
df['authors']

0          ['Everett Ferguson']
1          ['Everett Ferguson']
2          ['Everett Ferguson']
3          ['Everett Ferguson']
4               ['Rupert Fike']
                   ...
1244286     ['Elvira Woodruff']
1244287         ['Zadie Smith']
1244288         ['Zadie Smith']
1244289         ['Zadie Smith']
1244290         ['Zadie Smith']
Name: authors, Length: 1240299, dtype: object

In [41]:
authors_expressions = df['authors'].unique()
print(authors_expressions)

["['Everett Ferguson']" "['Rupert Fike']" "['Stefan Draminski']" ...
 "['Linda Barnes']" "['Patrick Balfour Baron Kinross']"
 "['Judy Halliday', 'Arthur Halliday']"]

In [42]:
df['authors'] = df['authors'].str.replace(r"\[|\]|\'", "", regex=True)

In [43]:
df['categories']

0                           ['Religion']
1                           ['Religion']
2                           ['Religion']
3                           ['Religion']
4          ['Biography & Autobiography']
                       ...
1244286             ['Juvenile Fiction']
1244287                      ['Fiction']
1244288                      ['Fiction']
1244289                      ['Fiction']
1244290                      ['Fiction']
Name: categories, Length: 1240299, dtype: object

In [44]:
categories_expressions = df['categories'].unique()
print(categories_expressions)

["['Religion']" "['Biography & Autobiography']" "['History']" ...
 "['Colombo (Sri Lanka)']" "['Mastodons']"
 "['Tarzan (Fictitious character)']"]

In [45]:
df['categories'] = df['categories'].str.replace(r"\[|\]|\'", "", regex=True)

In [46]:
df.shape

(1240299, 9)

## Counting the length of each review

df['word_count'] = df['review/text'].apply(lambda x: len(x.split(' ')))

In [47]:
df.head()

,Id,Title,authors,categories,ratingsCount,User_id,review/helpfulness,review/score,review/text
0,0802841899,The Church of Christ: A Biblical Ecclesiology ...,Everett Ferguson,Religion,5.000000,ARI272XF8TOL4,74/81,5.000000,With the publication of Everett Ferguson's boo...
1,0802841899,The Church of Christ: A Biblical Ecclesiology ...,Everett Ferguson,Religion,5.000000,A36TPZSH8LBT1,2/3,5.000000,Everett Ferguson approaches the subject of ear...
2,0802841899,The Church of Christ: A Biblical Ecclesiology ...,Everett Ferguson,Religion,5.000000,ANX3DDV12ZRRU,2/3,4.000000,This book is a continual resource. It is so bi...
3,0802841899,The Church of Christ: A Biblical Ecclesiology ...,Everett Ferguson,Religion,5.000000,A2H2LORTA5EZY2,3/5,4.000000,This is a very useful and thorough text book. ...
4,157067051X,Voices from the Farm: Adventures in Community ...,Rupert Fike,Biography & Autobiography,1.000000,A3W1KIKQ93S62,21/21,5.000000,"Ironically, I grew up in a small town close to..."

In [48]:
df.shape

(1240299, 9)

In [49]:
df.isnull().sum()

Id                    0
Title                 0
authors               0
categories            0
ratingsCount          0
User_id               0
review/helpfulness    0
review/score          0
review/text           0
dtype: int64

In [50]:
#df.to_csv("D://MBA//SEM 4//Capstone Project & Viva Voce//Dataset//Amazon Book Reviews//Amazon Book Reviews.csv", index=False)